@import "tailwindcss";

@theme {
  --color-primary: #11d411;
  --color-background-light: #f6f8f6;
  --color-background-dark: #102210;
}

body{
  @apply bg-gray-100 font-sans;
}

.font-display {
  font-family: "Public Sans", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

html {
  scroll-behavior: smooth;
}

